/* header information */

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 56px;
  background-color: white;
  border-bottom: 1px solid rgb(181 189 196);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
}

header .button-dark {
  margin-left: 15px;
}

a {
  color: rgb(36, 36, 36);
  text-decoration: none;
}

em {
  font-weight: bold;
}

.button-dark {
  color: white;
  background-color: rgb(62, 76, 215);
  padding: 8px 16px;
  line-height: 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-align: center;
}

.button-dark:hover {
  background-color: rgb(52, 64, 183);
}

.button-light {
  color: #3b49df;
  padding: 8px 16px;
  line-height: 24px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-align: center;
}

.button-light:hover {
  background-color: rgb(246, 246, 246);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dev-icon-header {
  font-size: 45px;
}

#header-search {
  font-size: 16px;
  border: 1px rgb(181 189 196) solid;
  width: 420px;
  line-height: 24px;
  padding: 7px 7px;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
}

#header-search::placeholder {
  font-size: 16px;
  /* padding-left: 3px; */
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(130 130 130);
}

#header-search:hover {
  border: 1px rgb(150 150 150) solid;
}

#header-search:focus {
  outline: none;
  border: 1px #3b49df solid;
  box-shadow: 1px 1px #3b49df;
}

#left-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

#right-header {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.header-grey {
  color: rgb(151, 151, 151);
  font-size: 15px;
  margin: auto 10px auto 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#search-div {
  margin: auto 10px auto 15px;
}

/* main page */

body {
  background-color: rgb(240, 240, 240);
}

main {
  margin-top: 56px;
}

.main-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.side-column {
  width: 25%;
  /* border: 1px solid pink; */
}

.middle-column {
    width: 50%;
    border: 1px solid blue;
    margin: 0 15px 0 15px;
}

/* left side */

.intro-card {
  padding: 15px;
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 7px;
}

.intro-card .button-light {
  margin-top: 10px;
}

.intro-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.intro-text {
  margin: 10px 0;
  color: #4d5760;
  line-height: 26px;
}

.icon-wrapper {
  height: 24px;
  width: 24px;
  padding-right: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-nav {
  margin-top: 15px;
}

.left-nav-option {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

.left-nav-option:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(62, 76, 215);
}

.left-nav-more {
  color: rgb(100, 112, 125);
  font-size: 14px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

.left-nav-more:hover {
  background-color: rgb(226, 226, 226);
}

/* repository card */
